################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FCCBackendTest/config
/.vs/FCCBackendTest/DesignTimeBuild
/.vs/FCCBackendTest/FileContentIndex
/.vs/FCCBackendTest/v17
/.vs/ProjectEvaluation
/.vs
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/.vs
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao.Services/bin/Debug/net7.0
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao.Services/obj/Debug/net7.0
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao.Services/obj/Release/net7.0
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao.Services/obj
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.AuthAPI/bin/Debug/net7.0
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.AuthAPI/obj
/FCCBackendTest.Backend/.vs
/FCCBackendTest.Backend/FCCBackendTest.Backend.API/bin/Debug/net7.0
/FCCBackendTest.Backend/FCCBackendTest.Backend.API/obj/Debug/net7.0
/FCCBackendTest.Backend/FCCBackendTest.Backend.API/obj/Release/net7.0
/FCCBackendTest.Backend/FCCBackendTest.Backend.API/obj
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.AuthAPI/Properties/launchSettings.json
/FCCBackendTest.Backend/FCCBackendTest.Backend.API/Properties/launchSettings.json
/FCCBackendTest.Backend/FCCBackendTest.Backend.DbContext/bin/Debug/net7.0
/FCCBackendTest.Backend/FCCBackendTest.Backend.DbContext/obj
/FCCBackendTest.Backend/FCCBackendTest.Backend.Entities/bin/Debug/net7.0
/FCCBackendTest.Backend/FCCBackendTest.Backend.Entities/obj
/FCCBackendTest.Backend/FCCBackendTest.Backend.Repository/bin/Debug/net7.0
/FCCBackendTest.Backend/FCCBackendTest.Backend.Repository/obj
/FCCBackendTest.Backend/FCCBackendTest.Backend.Services/bin/Debug/net7.0
/FCCBackendTest.Backend/FCCBackendTest.Backend.Services/obj
/FCCBackendTest.Backend/FCCBackendTest.Backend.API/appsettings.Development.json
/FCCBackendTest.Autenticacao/FCCBackendTest.Autenticacao/FCCBackendTest.AuthAPI/appsettings.Development.json
